

.textInput .select2-choice {
   border-style: none !important;
   background-image: none !important;
   border-radius: 0px !important;
   line-height: 18px !important ;
   height: 18px !important;
   filter: none !important;
   padding: 0 0 0 2px;
}


.textInput .select2-choice .select2-arrow {
   border-radius: 0px !important;
}

.textInput .select2-choice .select2-arrow b{
   background-position:0 -2px !important; 
}

.select2-dropdown-open .select2-choice {
   background-color: #fff !important;
}

.select2-container {
   height: auto !important;
   top: -1px;
}

.select2-search input {
   min-height:18px;
}

.select2-results .select2-result-label {
  padding:2px 1px 0px 2px;
  min-height:16px;
}

.select2-drop {
  padding-top:4px; 
}

.select2-results {
  margin-top:2px;
}

.select2-results .select2-no-results {
  background-color:#eee;
}

 


